mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 400px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  overflow: hidden;
}

.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;
  overflow: auto;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

mat-icon {
  margin-right: 8px;
  color: white;
  font-size: 20px;
}

span{
  color: white;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 10px;
  font-weight: normal;
  font-size: 35px;
}

.designation {
  margin-top: 2px;
  font-size: 15px;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

button{
  position: center;
}

.logout{
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 8px;
  margin-bottom: 30px;
  overflow: hidden;
}