<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="" routerLink="/sidebar/view-sch">View Schedules</a></li>
      <li class="breadcrumb-item active" aria-current="page">Update Schedule</li>
    </ol>
  </nav>
  
  <div class="card text-white bg-primary mb-3">
    <div class="card-body">
      <h5 class="card-title">Update Daily Schedule</h5>
    </div>
  </div>
  
  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">

    <div class="form-floating mb-3">
        <input type="date" class="form-control input-lg mb-3" pattern="\d{4}-\d{1,2}-\d{1,2}" id="date" name="date" formControlName="date" [class.is-invalid]="(scheduleForm.get('date').touched || scheduleForm.get('date').dirty) && scheduleForm.get('date').invalid"/>
        <label for="floatingInput">Date *</label>
    </div>
  
    <div class="form-floating mb-3">
      <input type="text" class="form-control input-lg" id="floatingInput" name="workLocation" formControlName="workLocation" [class.is-invalid]="(scheduleForm.get('workLocation').touched || scheduleForm.get('workLocation').dirty) && scheduleForm.get('workLocation').invalid"/>
      <label for="floatingInput">Work Location *</label>
    </div>

    <div class="form-floating mb-3">
        <select name="position" class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="workHours" [class.is-invalid]="(scheduleForm.get('workHours').touched || scheduleForm.get('workHours').dirty) && scheduleForm.get('workHours').invalid" required>
          <option class="text-muted" disabled [value]="null"></option>
          <option value="1">8am - 4pm</option>
          <option value="2">9am - 5pm</option>
          <option value="3">10am - 6pm</option>
        </select>
        <label for="floatingInput">Work Hours *</label>
    </div>
  
    <div class="form-floating mb-3">
      <textarea type="text" class="form-control input-lg" id="floatingInput" formControlName="workReport" placeholder="name@example.com" rows="5" [class.is-invalid]="(scheduleForm.get('workReport').touched || scheduleForm.get('workReport').dirty) && scheduleForm.get('workReport').invalid" required></textarea>
      <label for="floatingInput">Work Report *</label>
    </div>

  
    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" [disabled]="this.scheduleForm.invalid" type="submit">Register</button>
      </div>
  </form>
