
  <div class="card text-white bg-primary mb-3">
    <div class="card-body">
      <h5 class="card-title">Review Employee Schedule</h5>
    </div>
  </div>

<div class="form-floating mb-3">
    <select name="date" id="date" class="form-select" aria-label="Floating label select example" (change)="onChange($event)">
      <option class="text-muted" disabled [value]="null"></option>
        <option *ngFor="let date of week" value={{date}}>{{date}}</option>
    </select>
    <label for="floatingInput">Date*</label>
  </div>

  <div class="col-md-6 col-lg-6 col-xl-6">
    <p class="h3 mb-3 mt-3">My Schedules:</p>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Work Location</th>
                    <th scope="col">Work Hours</th>
                    <th scope="col">Work Report</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of filterSchedule">
                    <tr *ngIf="item.date == selectedValue">
                        <td>
                            <span>{{ item.date | date:'dd/MM/yyyy' }}</span>
                        </td>
                        <td>
                            <span>{{ item.workLocation}}</span>
                        </td>
                        <td>
                            <span *ngIf="item.workHours == '1'">8am - 4pm</span>
                            <span *ngIf="item.workHours == '2'">9am - 5pm</span>
                            <span *ngIf="item.workHours == '3'">10am - 6pm</span>
                        </td>
                        <td>
                            <span>{{ item.workReport}}</span>
                        </td>
                        <td>
                            <a class="link fs-4 font-medium me-2"
                                placement="right" ngbTooltip="Activate">
                                <i class="bi bi-circle-fill" [class.text-warning]="item.status == 'Pending'" [class.text-success]="item.status == 'Approved'" [class.text-danger]="item.status == 'Rejected'"></i>
                            </a>
                        </td>
                        <td>
                            <a class="link fs-4 font-medium me-2 text-dark"
                                placement="right" ngbTooltip="Activate" (click)="review(item)">
                                <i class="bi bi-eye"></i>
                            </a>
                        </td>
                    </tr>
                    </ng-container>
                    <tr *ngIf="filterSchedule.length == 0">
                        <td colspan="6" class="text-center align-middle">
                            <span class="text-muted font-medium">No Record(s) Found.</span>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
