<div class="card text-white bg-primary mb-3">
  <div class="card-body">
    <h5 class="card-title">View Analytics</h5>
  </div>
</div>

<div class="container">
  <button mat-raised-button *ngFor="let dep of departmentCount" class="button-size" [routerLink]="['/sidebar/summary', dep.departmentID]">
    {{dep.departmentName}}
    <div class="container">
      <mat-card>
        <mat-card-header>
          {{dep.flexCount}}
        </mat-card-header>
        <mat-card-content>
          flexi-hour
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          {{dep.homeCount}}
        </mat-card-header>
        <mat-card-content>
          work from home
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          {{dep.hybridCount}}
        </mat-card-header>
        <mat-card-content>
          hybrid
        </mat-card-content>
      </mat-card>
    </div>

  </button>
</div>

